<div class="container-fluid p-0">
  <div class="index-wrapper d-flex flex-column justify-content-center align-items-center">
    <img class="img-fluid" src="../assets/wsixbr.svg" alt="wsixbr" style="max-height: 24vh;">
    <p class="brand">
      <span style="color: rgb(125, 125, 125);">wsix</span>
      <span style="color: rgb(220, 20, 60);">br</span>
    </p>
    <p class="lecturing" style="color: rgb(125, 125, 125);">Coming soon...</p>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
